@font-face {
  font-family:Baskerville;
  src:url(../fonts/CMUSerif-Roman.woff2) format("woff2"),
  url(/fonts/CMUSerif-Roman.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Baskerville;
  src:url(../fonts/CMUSerif-Italic.woff2) format("woff2"),
  url(/fonts/CMUSerif-Italic.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: Baskerville;
  src:url(../fonts/CMUSerif-Bold.woff2) format("woff2"),
    url(/fonts/CMUSerif-Bold.woff) format("woff");
  font-weight: 600;
  font-style: bold;
}